body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

#filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#filters input {
  margin: 0 10px;
  padding: 5px;
}

.article {
  margin-bottom: 30px;
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.article h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  margin-top: -5px;
}

.article p {
  font-style: italic;
  margin-bottom: 5px;
  color: #bbb;
}

.article .description {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}

.article .read-more {
  display: inline-block;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.article .read-more:hover {
  background-color: #666;
}

.article .read-more:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #444;
}

.article-link {
  color: #add8e6;
}

.subtitle {
  text-align: center; /* Centrer le sous-titre */
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.github-link svg {
  margin-right: 8px;
}

.article {
  position: relative;
}

.favicon {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  margin: 8px;
}



.thumbnail {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin-bottom: -10px;
  margin-top: -2px;
}


@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  .article {
    max-width: 100%; 
  }
  
  .article h2 {
    font-size: 20px;
  }

  .article .description {
    font-size: 14px;
  }

  .article .read-more {
    font-size: 14px;
    padding: 6px 12px;
  }
}




/* Mobile Styles */
@media (max-width: 425px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .article {
    margin-bottom: 20px;
    padding: 15px;
	max-width: 100%;
  }

  .article h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .article p {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .article .description {
    font-size: 14px;
  }

  .article .read-more {
    font-size: 12px;
    padding: 6px 10px;
  }

  .github-link {
    margin-top: 15px;
  }
}